.container {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: sticky;
  top: 50px;
}

.search-results {
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  app-pokemon-card {
    cursor: pointer;
  }
}
